* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palatino', serif;
}

body {
    min-height: 100vh;
    cursor: crosshair;
}

header {
    display: flex;
    align-items: center;
    background-color: #66cc00;
    font-size: 20px;
    width: 100vw;
    padding: 6px 30px;
    cursor: default;
}

.header_tools {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%;
}

.header_heading {
    padding-right: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.tool {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.tool:last-child {
    margin-left: auto;
}

.tool_label {
    padding: 0 5px;
}

.tool_input {
    font-size: 18px;
    width: 100px;
    border: none;
    outline: none;
}

.tool_button {
    background-color: #336600;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: 20px;
    transition: background-color 0.2s ease-in;
}

.tool_button:hover {
    background-color: #99cc33;
}
